BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 4
ColumnLimit: 120
InsertNewlineAtEOF: true
IncludeBlocks: Regroup
SortIncludes: true
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
